.marketing h1 {
  margin: 60px 0 10px;
  font-size: 60px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;
}

.marketing {
  text-align: center;
  color: #5a5a5a;
}

.marketing-byline {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  color: #999;
}

.listing li span {
  float: right;
}

.listing li {
  list-style: none;
  padding: 5px 3px;
  margin: 0;
  color: #777;
  border-bottom: 1px solid #eee;
}

#top-me {
  margin-top: -3em;
  margin-right: -3em;
  margin-left: -3em;

  /*padding-top: 5em;*/
  /*padding-bottom: 2em;*/
  /*margin-bottom: 1em;*/
  /*background-color: PURPLE;*/
  color: lightgray;
  background-image: url("/img/blocksbg.png"),-webkit-radial-gradient(50% 50%, 300px 200px, rgba(123,158,204,0.7) 50%, #557 100%);
  background-position: 0 0,0 0;
  background-repeat: repeat,no-repeat;
  padding: 7em 3em 3em;

}

/* This parent can be any width and height */
.block {
  text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

#sina{
  width: 60%;
  margin-top: 2em;
}

.image-container {
    background-color: #F5F4F0;
}

.post-image {
  display: block;
  margin: 1em auto;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

#post {
  background-color: #ffffff;
  border: 1px solid lightgray;
}

#content {
  padding: 3em;
}





body {
  background: #D9D1C2 url('/img/bg.png');
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 27px;
}

p {
  padding-top: 1em;
  padding-bottom: 1em;
}

.navbar {
  border-top: solid 5px #F10026;
}

.thumbnail {
  background-color: white;
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -120px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 120px;
}
#footer {
  background-color: #1B1B1B;
  border-top: solid 5px #F10026;
  color: #777;
  margin-top: 5em;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}
