<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>© Copyright 2018 Sina Jahan.</p>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <a href="http://github.com/sinajahan" class="github" title="Fork one of my projects on github »">Fork one of
          my projects on github</a>
        <a href="http://twitter.com/thinkrelevance" class="twitter" title="Follow @sinajahan2 on twitter »">Follow
          @sinajahan2 on twitter</a>
        <a href="http://feeds.feedburner.com/sina-jahan" class="rss" title="Follow sinajahan by rss »">Follow
          sinajahan by rss</a>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39279055-1']);
  _gaq.push(['_trackPageview']);

  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
