<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>{{ page.title }}</title>
  <meta name="author" content="Sina Jahan"/>
  <link href="http://feeds.feedburner.com/sina-jahan" rel="alternate" title="Sina Jahan" type="application/atom+xml"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  <link href="/css/main.css" rel="stylesheet" media="screen">
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>

<div id="wrap">
  <div class="container">
    {{ content }}
  </div>

  <div id="push"></div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span6">
        <p>© Copyright 2013 Sina Jahan.</p>
      </div>
      <div class="span2">
        <a href="http://github.com/sinajahan/"><img src="/img/github.png" alt="github"/></a>
      </div>
      <div class="span2">
        <a href="http://twitter.com/sinajahan2/"><img src="/img/twitter.png" alt="twitter"/></a>
      </div>
      <div class="span2">
        <a href="http://feeds.feedburner.com/sina-jahan"><img src="/img/rss.png"
                                                              alt="Subscribe to RSS Feed"/></a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
