

{% include nav.html %}


<div class="row" id="top-me">
  <div class="container">
    <div class="span4 block">
      <img id="sina" src="/img/sina.jpg" class="img-circle centered">
    </div>
    <div class="span6">
      <h1>HELLO, I'M SINA.</h1>

      <h1>I CREATE PRODUCTS.</h1>

      <p>
        I’m a freelance software developer located in Toronto, ON with 8 years of experience designing, implementing,
        and maintaining commercial and enterprise applications for government, banks, and web startups.
      </p>
      <h4>A LITTLE MORE ABOUT ME »</h4>
    </div>
  </div>
</div>
<div id="wrap">
  <div class="container">
    {{ content }}
  </div>

  <div id="push"></div>
</div>

{% include footer.html %}
